@font-face {
    font-family: Evolventa-Reg;
    src: url(fonts/Evolventa-Regular.ttf);
}

@font-face {
    font-family: BebasNeueBold;
    src: url(fonts/BebasNeue-Bold.ttf);
}

@font-face {
    font-family: BebasNeueReg;
    src: url(fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: Evolventa-Bold;
    src: url(fonts/Evolventa-Bold.ttf);
}

:root {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Evolventa-Reg;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  width: 100%;
  background-color: silver;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header, .main{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 0 1rem;
}

.header-cover{
    min-height: 9.0625rem; /* 145/16 */
    max-width: 73.75rem;
    margin: 0 auto;
    display: flex;
    column-gap: 20px;
    row-gap: 10px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10px;
    position: relative;
}
.menu{
    position: relative;
}
.menu__list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    column-gap: 20px;
    flex-wrap: wrap;
}

.menu__link a, .header__phones a{
    --maincolor:#043566;
    text-decoration: none;
    text-transform: uppercase;
    font-family: BebasNeueBold;
    font-weight: 400;
    font-size: 20px;
    color: var(--maincolor);
}

.menu__link a:hover , .header__phones a:hover{
    color: red;
}

.contacts-cover{
    max-width: 73.75rem;
    margin: 0 auto;
    overflow: hidden;
    min-height: 310px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6.25rem;
}

.our__contacts{
    flex: .7 1.2 40%;
    padding: 1rem;
}

.our__contacts__frame{
    flex: 1 1 60%;
    min-height: 14rem;
}

.our__contacts__frame-window{
    width: 100%;
    height: 100%;
}

.our__contacts__wrap{
    padding-left: 58px;
}
.our__contacts__h1{
    font-size: 64px;
    margin: 0 0 0 -58px;
}
.our__contacts__h1, .address__h1, .mail__h1, .phone__h1, .callback__h1{
    font-family: BebasNeueBold;
    color: #043566;
}
.address__h1, .mail__h1, .phone__h1, .callback__h1{
    font-size: 48px;
    margin: 0;
    position: relative;
}
.address__h1::before, .mail__h1::before, .phone__h1::before {
    content: "";
    display: block;
    background-size: contain;
    width: 43px;
    height: 43px;
    position: absolute;
    left: -55px;
    top: 3px;
}
.address__h1::before{
    background-image: url(img/ico_adress.svg);
}
.mail__h1::before{
    background-image: url(img/ico_mail.svg);
}
.phone__h1::before{
    background-image: url(img/ico_phone.svg);
}

.callback-cover{
    min-height: 754px;
    background-color: #fff;
    background-image: url(img/callback_bg_img.png);
    background-position: 404px 0;
    background-size: 1261px 672px;
    background-repeat: no-repeat;
    background-origin: padding-box;
    margin: 0 -1rem;
    position: relative;
}
.callback-cover__block{
    width: 118px;
    height: 347px;
    position: absolute;
    top: calc(50% - 347px / 2);
    background-color: #043566;
    border-radius: 0 10px 10px 0;
}
.callback-cover__input{
    max-width: 620px;
    min-height: 547px;
    padding: 35px 35px 35px 70px;
    position: absolute;
    top: calc(50% - 547px / 2);
    left: 250px;
    background-color: #fff;
    border-radius: 10px;
    text-align: left;
}
.form__input{
    width: 70%;
    height: 60px;
    border-radius: 10px;
    border-color: transparent;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.08);
    padding-left: 30px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #BDBDBD;
    font-family: Evolventa-Reg;
}
.form__btn{
    width: 70%;
    height: 60px;
    background-color: #043566;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}
.footer{
    background-color: #043566;
    margin: 0 -1rem;
}
.footer__cover{
    display: flex;
    flex-wrap: wrap;
    max-width: 73.75rem;
    min-height: 392px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.footer__menu__list{
    display: flex;
    row-gap: 20px;
    column-gap: 20px;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.footer__menu__link > a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: BebasNeueBold;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}
.footer__menu{
    margin: 1rem;
}
.footer__company__h1{
    color: #fff;
    font-size: 48px;
    font-family: BebasNeueBold;
    margin-bottom: 10px;
}
.footer__company{
   flex-basis: 370px;
   margin: 1rem;
   text-align: center;
}
.footer__company__description{
    color: #fff;
    font-family: Evolventa-Reg;
    font-weight: 400;
    font-size: 1rem; /* 24/16 */
}
.footer__contacts{
    padding-left: 40px;
    margin: 0 1rem;
}
.footer__company_cc{
    margin-left: -40px;
}
.footer__company__h2::before{
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 0;
    left: -35px;
}

.footer__company__h2{
    position: relative;
    font-family: BebasNeueBold;
    margin-top: 10px;
}
.footer-company-mail::before{
    background-image: url(img/ico_bottom_list.svg);
}
.footer-company-phone::before{
    background-image: url(img/ico_bottom_phone.svg);
}
.header__burger{
    position: absolute; 
    left: 0;
    top: 0;
    width: 36px;
}

.header__burger span {
    width: 100%;
    height: 3px;
    background-color: #043566;
     display: block;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #043566;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: calc(.7rem - 1.5px);
  }
  .header__burger:after {
    top: calc(-.7rem + 2.5px);
  }

.header__burger{
	display: none;
}

.header__burger.active:before {
    transform: rotate(45deg);
    top: 50%;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    top: 50%;
  }
  .header__burger.active span {
    transform: scale(0);
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 50%;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    top: 50%;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .menu__list.active{
    position: absolute;
    display: block;
    left: 0;
    top: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
  }
  .menu__list.active .menu__link{
    display: block;
    margin-top: 20px;
  }




@media (max-width:1000px) {

    .header__burger{
        display: block;
    }
    .menu__list{
        display: none;
    }
}

@media (max-width:700px) {
    .header__instagram{
        display: none;
    }
    .callback-cover__input{
        position: relative;
        top: 0;
        left: 0;
        margin: 0 auto;
    }
    .callback-cover__block{
        display: none;
    }
}

@media (max-width:650px) {
    .logo a img{
        width: 150px;
    }
}

@media (max-width:500px) {
    .header__phones{
        display: none;
    }
    .header__burger{
        left: -40px;
        top: 0;
        width: 36px;
    }
}

